.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 500ms ease-in-out;
}
.timer-label-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 500ms ease-in-out;
}

.timer-label {
  font-size: 20px;
  color: #ffffff;
}

.timer-container {
  display: flex;
  float: left;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-color: #ffffff;
  border-style: dashed;
  background-color: none;
  text-align: center;
  margin: 0 10px 20px 10px;
  position: relative;
  transition: 500ms ease-in-out;
}

.timer-value {
  font-size: 50px;
  color: #ffffff;
  padding-bottom: 10px;
}

.timer-label-container-appear {
  opacity: 0;
  margin-left: 100%;
}
.timer-container-appear {
  transform: rotate(16turn);
}
